@tailwind base;
@tailwind components;
@tailwind utilities;

h1.ce-header {
  font-size: 2rem;
}
h2.ce-header {
  font-size: 1.8rem;
}
h3.ce-header {
  font-size: 1.6rem;
}
h4.ce-header {
  font-size: 1.4rem;
}
h5.ce-header {
  font-size: 1.2rem;
}
h6.ce-header {
  font-size: 0.8rem;
}
